extends skeleton
block head
  title It works!
  style
    body {
      color: #eee;
      background-color:#333;
      font-family:sans-serif;
    }
block content
  h1 It works!
  p.
    This is the default web page for this server. 
